.validation-input-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3px 0px;
}
.validation-input-div label {
  text-transform: capitalize;
  font-size: 1.25rem;
}
.validation-input-div input.text-input {
  border: none;
  background: none;
  border-bottom: 0.5px solid;
  font-size: 1.1rem;
}
.light .validation-input-div input.text-input {
  border-color: black;
  color: black;
}
.dark .validation-input-div input.text-input {
  border-color: white;
  color: white;
}
.validation-input-div input.text-input:focus {
  outline: none;
}

.validation-input-div .input-div-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 75%;
  justify-content: flex-start;
}

.validation-input-div .input-div-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.validation-input-div .reqs {
  font-size: large;
  transition: 0.3s;
}
.validation-input-div .reqs:hover {
  cursor: pointer;
  color: #4e4e4e;
}
.validation-input-div .popup-message {
  left: -5px;
  bottom: 20px;
}
