@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

body, .video-details {
    font-family: 'Heebo', sans-serif;
}

.signup-page,
.signin-page,
.mainpage-page {
  min-height: inherit;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-div {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-div {
  width: 30%;
}
.main-component {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: 60%;
  flex-direction: row;
  border-radius: 23px;
}
.light .main-component {
  background: #ebebeb;
  box-shadow: #cdcdcd 1px 1px 5px 0px;
  color: black;
}
.dark .main-component {
  background: #222222;
  box-shadow: #000000 1px 1px 5px 0px;
  color: white;
}
.preview-picture {
  width: 100%;
  max-height: 100%;
}
.choose-file {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit {
  margin-right: 60px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 10px;
  margin-top: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.choose-file:hover,
.submit:hover {
  background-color: #d32f2f;
  
}

.choose-file input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
