.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-card {
  display: flex;
  width: 320px;
  margin: 20px;
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.light .video-card {
  border-color: #ddd;
}
.dark .video-card {
  border-color: #050505;
  color: white;
}

a.video-link {
  text-decoration: initial;
  color: initial;
}

.video-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.video-card .video-container {
  position: relative;
}

.video-card video {
  width: 340px;
  height: 180px;
  background-color: black;
}

.video-details {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.video-details h1 {
  font-size: 18px;
  margin: 5px 0;
}

.video-card .video-length {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  bottom: 8px;
  right: 14px;
  padding: 1.5px;
  border-radius: 5px;
  letter-spacing: 0.8px;
}

.video-card .video-name {
  height: 50px;
  font-size: 21px;
  font-weight: 600;
  text-wrap: pretty;
}

.search-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  padding: 15px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s ease-in-out;
  background: none;
}
.light .search-input {
  color: black;
  border-color: #ccc;
}

.dark .search-input {
  color: white;
  border-color: #ccc;
}
.search-input:focus {
  border-color: #f44336;
  box-shadow: 0 0 8px rgba(244, 67, 54, 0.5);
}

.search-button {
  padding: 15px 30px;
  margin-left: 10px;
  border: none;
  border-radius: 25px;
  background-color: #f44336;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
  background-color: #e53935;
  transform: translateY(-2px);
}

.search-button:active {
  background-color: #d32f2f;
  transform: translateY(0);
}

.main-page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding: 20px 0px;
}
.profile-pic-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2.5px black;
  margin-right: 10px;
}
.user-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  color: #dddddd;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #d32f2f;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.change-theme-button {
  display: flex;
  font-size: 24px;
  padding: 8px 9px;
  width: fit-content;
  transition: 0.2s;
  border: 2px solid;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 24px;
  transition: 0.2s;
}

.light .change-theme-button {
  color: black;
}
.dark .change-theme-button {
  color: white;
}
.change-theme-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
