.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-card {
  display: flex;
  width: 320px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.video-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.video-card video {
  width: 340px;
  height: 180px;
}

.video-details {
  width: 100%;
}

.video-details h1 {
  font-size: 18px;
  margin: 5px 0;
}
