.video-watching-page .video-action-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 25px;
  background-color: #f44336;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.video-watching-page .video-action-button:hover {
  background-color: #e53935;
  transform: translateY(-2px);
}
.video-watching-page .video-action-button.active,
.video-watching-page .video-action-button:active {
  background-color: #c11b1b;
  transform: translateY(0);
}
