@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

body,
.video-details {
  font-family: "Heebo", sans-serif;
}

.video-page-main-component {
  max-width: 1260px;
  min-width: 640px;
  margin-top: 60px;;
  width: 100%;
  background-color: inherit;
}

.dark .video-page-main-component {
  color: white;
}


.video-watching-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px; 
  margin-top: 0;
}


.video-recs {
  min-width: 320px;
  width: 20%;
  margin-top: 60px;;
  height: auto;
  background-color: white;
  padding: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.video-rec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.video-rec img {
  width: 150px;
  height: 84px;
  object-fit: cover;
  border-radius: 5px;
}

.bishbash-icon {
  width: 20px;
  height: 20px;
}

.video-rec-title {
  font-weight: bold;
  margin-left: 10px;
  color: #333;
  flex-grow: 1;
}

.top-right-icon {
  width: 20px;  
  height: 20px; 
}