@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

body,
.video-details {
  font-family: "Heebo", sans-serif;
}

.video-page-main-component {
  max-width: 1260px;
  min-width: 640px;
  width: 100%;
  background-color: inherit;
}
.dark .video-page-main-component {
  color: white;
}

.video-watching-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}
