.App {
  text-align: center;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
}


.img {
  position: absolute; 
  top: 10px;      
  left: 10px;     
  z-index: 1000;  
}

.img img {
  width: 100px;  
  height: auto; 
}
