.App {
  text-align: center;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
}

.img {
  position: absolute;
  top: -25px;
  right: 10px;
  z-index: 1000;
}

.img img {
  width: 150px;
  height: auto;
}

.page {
  min-height: 100vh;
  min-width: 100vw;
  transition: 0.3s;
  height: fit-content;
}
.page.light {
  background-color: white;
}
.page.dark {
  background-color: #131313;
}
