.comments {
  height: 400px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.comment {
  width: 100%;
  text-align: left;
}
.comments-list {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

.comment-input {
  width: 70%;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.comments-title {
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: sans-serif;
  margin: 20px 0;
}

.comment .user {
  font-size: 1.4rem;
  font-weight: 600;
}
.comment .date {
  margin-left: 5px;
  color: #3d3d3d;
  font-weight: 600;
}
.comment-content {
  height: 30px;
  font-size: 14px;
  overflow: auto;
}
