.comments {
  min-height: 400px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.comment {
  width: 100%;
  text-align: left;
  margin: 10px 0;
  display: flex;
}
.comments-list {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  padding-bottom: 100px;
}

.comment-input,
.edit-comment-input {
  width: 70%;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid;
}
.light .comment-input,
.light .edit-comment-input {
  border-bottom-color: black;
  color: black;
}
.dark .comment-input,
.dark .edit-comment-input {
  border-bottom-color: white;
  color: white;
}

.comments-title {
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: sans-serif;
  margin: 20px 0;
}

.comment .user {
  font-size: 1.4rem;
  font-weight: 600;
}
.comment .date {
  margin-left: 5px;
  font-weight: 600;
}
.light .comment .date {
  color: #3d3d3d;
}
.dark .comment .date {
  color: #afafaf;
}
.comment-content {
  font-size: 17px;
  overflow: hidden;
  word-wrap: break-word;
  min-height: 42px;
}
.comment-content.closed {
  height: 42px;
}
.comment-content.open {
  height: fit-content;
}
.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.comment-actions {
  font-size: 22px;
}
.comment-actions > span > * {
  transition: 0.2s;
}
.comment-actions > span > *:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.comment-expand {
  font-size: 14px;
  font-weight: bolder;
}
.light .comment-expand {
  color: #3d3d3d;
}
.dark .comment-expand {
  color: #afafaf;
}
.comment-expand:hover {
  cursor: pointer;
}
.comment-input-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
