.my-videos-page .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  padding: 50px;
}
.my-videos-page.dark {
  color: white;
}
.my-videos-page.light {
  color: black;
}
.my-videos-page .container table {
  width: 100%;
}
.my-videos-page .container table td.video-container {
  height: 150px;
  width: 150px;
}
.my-videos-page .container table tr {
  border-bottom: black solid 2px;
}
.my-videos-page .container > .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}
.my-videos-page .container > .buttons > a {
  padding: 0 10px;
}
.dark .my-videos-page .container {
  background-color: #131313;
}

.light .my-videos-page .container {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.upload-button,
.edit-user-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 15px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dark .upload-button {
  background-color: #0a4818;
}

.light .upload-button {
  background-color: #28a745;
}

.dark .edit-user-button {
  background-color: #0a4818;
}

.light .edit-user-button {
  background-color: #28a745;
}

.upload-button:hover,
.edit-user-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.upload-button:active,
.edit-user-button:active {
  background-color: #1e7e34;
  transform: translateY(0);
}

.video-actions {
  font-size: 22px;
}
.video-actions svg {
  transition: 0.2s;
}
.video-actions svg:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.my-video-item video {
  width: 100%;
  height: 100%;
}
