.video-list {
  position: relative;
  top: 100px;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center; 
}


.upload-video:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.upload-video:active {
  background-color: #004cba;
  transform: translateY(0);
}

.delete-video,
.edit-video,
.upload-video {
  padding: 15px 30px;
  margin-left: 10px;
  border: none;
  border-radius: 25px;
  background-color: #f44336;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-video:hover,
.edit-video:hover {
  background-color: #e53935;
  transform: translateY(-2px);
}

.delete-video:active,
.edit-video:active {
  background-color: #d32f2f;
  transform: translateY(0);
}

.upload-video {
  position: absolute;
  top: -60px;
  left: 42.5%;
  padding: 20px 40px; 
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

