.popup-message {
  color: black;
  width: 200px;
  position: absolute;
  z-index: 5;
  border-radius: 5px;
  background: wheat;
  box-shadow: 1px 1px 3px 0px black;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 100ms;
  padding: 5px;
}
.popup-message.hidden {
  opacity: 0%;
}
.popup-message.visible {
  opacity: 100%;
}
.message-anchor {
  position: relative;
}
.video-block .video-action-button .popup-message {
  bottom: 20px;
  left: -90px;
}
