@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

.video-rec .video-details {
  font-family: "Heebo", sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.video-rec .minor-details {
  font-size: 0.8rem;
}
.video-rec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 120px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: unset;
  margin-bottom: 15px;
  transition: 0.1s ease;
}
.video-rec .video-name {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  max-width: 100%; /* Ensure text doesn't overflow the container */
  font-size: 1.1rem;
  font-weight: bold;
}

.video-rec .video-name:hover {
  cursor: pointer;
}
.video-rec .user-details {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  max-width: 100%; /* Ensure text doesn't overflow the container */
}
.light .video-rec .minor-details {
  color: #4a4a4a;
}
.dark .video-rec .minor-details {
  color: #8b8b8b;
}
.video-rec img {
  height: 100px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 5px;
}

/* Dark mode for video recommendation block */
.dark .video-rec {
  background-color: unset;
  color: #fff;
  border: 2px solid white;
}
.dark .video-rec:hover {
  background-color: #1a1a1a;
}
.light .video-rec:hover {
  background-color: #e8e8e8;
}

.video-rec .video-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.video-rec .video-container:hover {
  cursor: pointer;
}

.video-rec .video-length {
  background-color: rgba(10, 10, 10, 0.6);
  color: white;
  position: absolute;
  bottom: 3px;
  right: 3px;
  padding: 2px;
  border-radius: 5px;
  letter-spacing: 0.8px;
  font-size: 13px;
}
