.popup-message {
  width: 200px;
  position: absolute;
  z-index: 5;
  border-radius: 5px;
  background: #fff8d6;
  box-shadow: 1px 1px 3px 0px black;
  transition: 0.3;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 100ms;
}
.popup-message.hidden {
  opacity: 0%;
}
.popup-message.visible {
  opacity: 100%;
}
.message-anchor {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
